*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

#cabecalho {
    background: #010E26;
    padding: 3em;
    border: 5px solid #5F718C;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.cabeca {
    
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

input::placeholder {
    font-size: 18px;
    color: #181818;
}

.form {
    background: #010E26;
    border: 5px solid #181818;  
    color: white;  
    margin: 3em 17em 2em 17em;
    padding: 56px;
    border-radius: 40px;
}

.form input, .form label {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding:5px;
    width: 700px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.form input {
    border: 5px solid #5F718C;
    border-radius: 40px;
    font-weight: normal;
}

.botao {
    border: 5px solid #5F718C;
    border-radius: 40px;
    font-weight: normal;
    width: 100px;
}

#mensagens-erro {
    color: red;
    font-size: 20px;
}

.animacao {
    opacity: 0;
    transition: 0.5s;
}

.invisivel {
    display: none;
}

.fil {
    margin-top: 4em;
    margin-left: 18%;

}

.fil label {
    font-weight: bold;
    font-size: 23px;
}

.fil input {
    border: 3px solid #181818;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}

table {
    background: #010E26;
    color: white;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 10em;
    padding: 20px;
    width: 1000px;
    border: 2px solid #181818;
    border-radius: 40px;
}



table th {  
    color: white;
    border: 3px solid #5F718C;
    border-radius: 40px;
    padding: 5px;
    margin: 0;
}

table td {
    background-color: white;
    color: #000;
    font-weight: bold;
    border: 3px solid #5F718C;
    border-radius: 40px;
    padding: 5px;
    margin: 0;
}

table th {
    text-align: justify;
}


#teste {
    background-color: black;
    color: white;
}